# Raspberry Pi Pico USB device detection
# All Pico operations (read/write/flash) require sudo/root privileges
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0005", SYMLINK+="pico", MODE="0600", GROUP="root"
